chromium/
mozilla/
discord/
vesktop/
legcord/
obsidian/
WarThunder/
Gaijin/
AmneziaVPN.ORG/
Prizrak-Box/
PortProton.conf
pupgui/
go/
session/
dconf/
Claude/
Claude-3p/
copyq/
Happ/
zoom/
wireshark/

cache/
tmp/

*/Cache/
*/GPUCache/
*/CachedData/
*/Code Cache/
*/DawnCache/
*/DawnGraphiteCache/
*/DawnWebGPUCache/

*.log
*.tmp
*.bak
LOG
LOG.old

VSCodium/Cache/
VSCodium/CachedData/
VSCodium/Code Cache/
VSCodium/DawnCache/
VSCodium/DawnGraphiteCache/
VSCodium/DawnWebGPUCache/
VSCodium/GPUCache/
VSCodium/Service Worker/
VSCodium/Session Storage/
VSCodium/Local Storage/
VSCodium/User/workspaceStorage/
VSCodium/CachedExtensionVSIXs/.trash/

libreoffice/4/cache/
libreoffice/4/user/extensions/

thumbnails/
Trash/
RecentlyUsed.xbel

xarchiver/
xfce4/
electron/
pulse/
pipewire/
wireplumber/

qt5ct/qss/
QtProject.conf

fish/fish_history

npm/
yarn/
pnpm/

paru/clone/
yay/

.jetbrains/
.idea/

steam/
Steam/

mpv/watch_later/

gtk-2.0/.gtkrc-2.0-kde4
